* {
  box-sizing: border-box;
}
body {
  padding: 1em;
  text-align: center;
}
.memoryboard {
  width: 600px;
  height: 600px;
  border: 2px solid lightblue;
	padding: 1em;
  margin:auto;
}
.backofcard {
	height: 100px;
	width: 100px;
	background-color: black;
	margin: 1em;
	display: inline-block;
}
