* {
  box-sizing: border-box;
}
body {
  padding: 1em;
  text-align: center;
}
.memoryboard {
  width: 600px;
  height: 600px;
  border: 2px solid lightblue;
	padding: 1em;
  margin:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.backofcard {
	height: 100px;
	width: 100px;
	background-color: black;
	margin: 1em;
	display: inline-block;
	transform: rotateY(0deg);
	transition: transform 1s linear;
}
.front {
	height: 100px;
	width: 100px;
	background-color: yellow;
	border: black 1px solid;
	margin: 1em;
	display: inline-block;
	transform: rotateY(180deg);
	transition: 1s linear;
}
.front img {
	width: 100%;
	padding: 0;
	margin: 0;
}
